{
  "env": { "es6": true, "browser": true },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "react/no-find-dom-node": 0,
    "react/no-deprecated": 0,
  }
}
